$lightFont: #afafaf;
$button: #8c30ff;
$background: #8489ff;
$blogbutton: #676cfd;
$lightgray: #F1F1F1;

// write

.add {
	display: flex;
	gap: 3.5rem;
	margin: 3.5rem;

	.content {
		flex: 2.5;

		h1 {
			font-size: 30px;
			margin-bottom: 1.0rem;
			font-weight: 500;
		}

		input {
			border: 1px solid #F1F1F1;
			width: 100%;
			margin-bottom: 2.8rem;
			padding: 10px;
			font-size: 21px;
			outline: none;

		}
	}



	.aside {
		display: flex;
		float: 2;
		flex-direction: column;
		gap: 2.0rem;
		flex: 1.2;
		max-height: min-content;

		.item {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			// flex: 1;
			border: 1px solid $lightgray;
			padding: 1.0rem;
			gap: 10px;
			font-size: 18px;
			font-weight: 300;

			h1 {
				font-weight: 500;
				font-size: 30px;
			}

			.draft {


				.status {
					font-weight: 500;
				}
			}

			.imginput {
				display: none;
			}

			.file {
				text-decoration: underline;
				cursor: pointer;
			}

			.radio {
				display: flex;
				flex-direction: column;
			}

			.buttons {
				display: flex;
				justify-content: space-between;
				gap: 15px;

				:first-child {
					display: flex;
					justify-content: center;
					flex: 1;
					align-items: center;
					padding: 5px 20px;
					border: none;
					cursor: pointer;
					background-color: #FFF;
					border: 2px solid $background;
					font-size: 17px;
					font-weight: 400;
					color: $blogbutton;

					&:hover {
						border: 2px solid white;
						background-color: $blogbutton;
						color: #FFF;
					}
				}

				:nth-child(2) {
					display: flex;
					justify-content: center;
					flex: 1;
					align-items: center;
					padding: 5px 20px;
					cursor: pointer;
					border: 2px solid white;
					font-size: 17px;
					font-weight: 400;
					background-color: $blogbutton;
					color: #FFF;

				}
			}


		}
	}



}

// write end